.accessibility-toggle {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: #7766C6;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 2000;
    height: 50px;
    width: 50px;
    transition: background 0.3s;
}

.accessibility-toggle:hover {
    background: #9c8fd8;
}

.accessibilidade-painel {
    position: fixed;
    left: 100px;
    bottom: 0;
    width: 420px;
    height: 75%;
    background: #f6f8fa;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
    transition: transform 0.3s ease;
    transform: translateX(0);
    z-index: 1001;
    border-radius: 17px;
}

.accessibility-close {
    background: transparent;
    border: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.acessibilidade-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #d55c7c;
}

.accessibility-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fundoPainelA {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

.accessibility-section {
    background: #f6f8fabc;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.font-size-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.font-size-btn {
    background: #F9B0C3;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
}

.font-size-display {
    font-size: 1.2rem;
}

.accessibility-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.accessibility-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e9ecef;
    border-color: transparent;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    transition: background 0.3s, transform 0.3s;
    text-align: center;
}

.accessibility-button svg {
    margin-bottom: 5px;
}

.accessibility-button.active {
    background: #f19fb5;
    border-color: transparent;
}

.accessibility-button:hover {
    background: #d6d6d6;
    border-color: #F9B0C3;
    color: black;
}

.accessibility-button.active:hover {
    background: #F9B0C3;
    border-color: transparent;
    color: white;
}

.acessibilidade-reset,
.acessibilidade-close {
    background: transparent;
    border: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 20px;
}

.acessibilidade-close {
    right: 10px;
}

.acessibilidade-reset {
    right: 55px;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #b2a6e490;
}

*::-webkit-scrollbar-button {
    height: 16px;
}

/* funcionalidades */
.large-cursor,
.large-cursor * {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="0.5" stroke-linejoin="round" d="M18 14.88 8.16 3.15c-.26-.31-.76-.12-.76.28v15.31c0 .36.42.56.7.33l3.1-2.6 1.55 4.25c.08.22.33.34.55.26l1.61-.59a.43.43 0 0 0 .26-.55l-1.55-4.25h4.05c.36 0 .56-.42.33-.7Z"></path></svg>'), auto !important;
}

.large-cursor *[class*="cursor-pointer"],
.large-cursor a,
.large-cursor button {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="0.5" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'), pointer !important;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.high-contrast {
    background-color: #000;
    color: #fff;
}

.espacamento {
    letter-spacing: 2px !important;
}

.espacoLinhas {
    line-height: 1.8;
}

.increase-images img {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.font-arial {
    font-family: Arial, sans-serif !important;
}


.text-magnifier {
    font-size: 1.2em;
}

/* faixa de destaque brilho 


.brilhoTDAH::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 0, 0.1); 
    z-index: -1; 
    right: 0;
    left: 0;
}

.brilhoTDAH {
    position: fixed;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #ffeeab;
    pointer-events: none;
    display: none;
    z-index: 1000;
    border-radius: 5px;
    transition: all 0.3s ease;
}*/
/* Faixa de Destaque */
.highlight-background {
    position: fixed;
    background-color: rgba(255, 255, 0, 0.5); /* Cor da faixa com opacidade */
    pointer-events: none; /* A faixa não deve interceptar cliques */
    display: none; /* Inicialmente escondido */
    z-index: 999;
    height: 100px; /* Altura da faixa */
    width: 100%; /* Largura 100% da tela */
    left: 0; /* Alinhar ao lado esquerdo da tela */
    top: 0; /* Alinhar ao topo da tela */
}

/* Camada de Fundo ao redor da faixa */
.highlight-overlay {
    position: fixed;
    pointer-events: none;
    background-color: rgba(117, 117, 117, 0.986); /* Cor da área ao redor do cursor */
    display: none; /* Inicialmente escondido */
    z-index: 998;
    width: 100%; /* Largura total da tela */
    height: 100%; /* Altura total da tela */
    left: 0; /* Alinhar ao lado esquerdo da tela */
    top: 0; /* Alinhar ao topo da tela */
}

/* Mudar cor da área ao redor do cursor quando a faixa está ativa */
.highlight-background.show {
    display: block;
}

.highlight-overlay.show {
    display: block;
}





/* Outros estilos */
.large-cursor,
.large-cursor * {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="0.5" stroke-linejoin="round" d="M18 14.88 8.16 3.15c-.26-.31-.76-.12-.76.28v15.31c0 .36.42.56.7.33l3.1-2.6 1.55 4.25c.08.22.33.34.55.26l1.61-.59a.43.43 0 0 0 .26-.55l-1.55-4.25h4.05c.36 0 .56-.42.33-.7Z"></path></svg>'), auto !important;
}

.large-cursor *[class*="cursor-pointer"],
.large-cursor a,
.large-cursor button {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="0.5" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'), pointer !important;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.high-contrast {
    background-color: #000;
    color: #fff;
}

.espacamento {
    letter-spacing: 2px !important;
}

.espacoLinhas {
    line-height: 1.8;
}

.increase-images img {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.fonte-arial {
    font-family: Arial, sans-serif !important;
}

.magnifier-box {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.865);
    color: white;
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    max-width: 700px;
    word-wrap: break-word;
    pointer-events: none;
}

.text-magnifier-active .text-magnifier-hover {
    position: absolute;
    display: block;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 24px;
    border-radius: 5px;
    pointer-events: none;
    z-index: 9999;
}

.text-magnifier-active .text-magnifier-hover img {
    max-width: none;
}

.text-magnifier-active .text-magnifier-hover {
    font-size: 24px;
}

.perfil-tdah {
    animation: none !important;
    transition: none !important;
    background-image: none !important;
    color: #000 !important;
    background-color: #fff !important;

    /* Oculta elementos potencialmente distrativos 
    .banner, .popups, .ads, .sidebars {
        display: none !important;
    }*/

    a, button, p, h1, h2, h3, h4, h5, h6 {
        outline: 2px solid #000;
    }
    p, h1, h2, h3, h4, h5, h6 {
        outline: 2px solid #c07171;
    }
    p, h1, h2, h3, h4, h5, h6 {
        line-height: 1.5;
    }
}

/* versao mobile  */
@media (max-width: 600px) {
    .accessibilidade-painel {
        width: 100%;
        left: 0;
    }

    .accessibility-toggle {
        width: 10%;
        height: 5%;
    }
}

/* versao desktop */
@media (min-width: 601px) {
    
}



/* DISPONIBILIDADE */
/* Estilo para eventos de consulta */
.evento-consulta {
    background-color: #ff9999; /* Cor rosa claro */
    border: 1px solid #cc6666; /* Borda rosa escuro */
    color: #fff; /* Cor do texto */
  }
  
  /* Estilo para eventos de reunião */
  .evento-reuniao {
    background-color: #99ccff; /* Cor azul claro */
    border: 1px solid #6699ff; /* Borda azul escuro */
    color: #fff; /* Cor do texto */
  }
  
  /* Estilo para eventos de disponibilidade */
  .evento-disponivel {
    background-color: #800080; /* Cor roxa */
    border: 1px solid #400040; /* Borda roxa escura */
    color: #fff; /* Cor do texto */
  }
  
  /* Estilo geral para outros eventos */
  .evento-geral {
    background-color: #e0e0e0; /* Cor cinza claro */
    border: 1px solid #b0b0b0; /* Borda cinza escuro */
    color: #000; /* Cor do texto */
  }
  
  /* Outras possíveis personalizações */
  .fc-daygrid-day {
    border: 1px solid #ccc; /* Borda das células do calendário */
  }
  
  .work{
    color: #800080;
  }