@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wdth,wght@87.5,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


.fundoFiltro {
    background-color: white;
    padding-top: 20px;
    padding: 30px 20px 10px;
    margin-top: 0px;
}

.tituloAgenda {
    color: #6852a5;
    text-align: center;
    margin-bottom: 20px;
}

.cardAgenda {
    background-color: #eee8f4  ;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 60px;
    height: 350px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: 0;
}

[data-theme='dark'] .cardAgenda {
    background-color: #46467A;
}

.imgPerfil {
    width: 140px;
    height: 160px;
    border-radius: 6%;
    object-fit: cover;
    padding: 10px;
    position: absolute;
    top: -30px;
    left: -70px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.primeiro {
    padding: 10px;
    flex: 1;
    margin-left: 60px;
    min-width: 0;
}

.segundo {
    padding: 10px;
    flex: 1;
    margin-right: 450px;
    margin-left: 40px;
    min-width: 0;
}

.nomeAgenda {
    color: #6852a5;
    font-size: 24px;
    margin-left: 0;
}

.profissao {
    color: #6852a5;
}

.local {
    margin-top: -19px;
    color: #6852a5;
}

.valor {
    width: 320px;
    margin-right: 40px;
}

.sessao {
    width: 300px;
    margin-right: 15px;
}

.sessao,
.valor {
    padding: 1em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #7654d349   !important;
    border: 1.5px solid #816eb5;
    border-radius: 25px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: block;
    text-align: center;
}

[data-theme='dark'] .sessao,
.valor {
    background-color: #7b78cfc3;
}


.estrelas {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.star {
    width: 24px;
    height: 24px;
    background: #6852a5;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
}

.cardAgenda::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 1px;
    background-color: #6852a5;
    z-index: 0;
}

.tabs-container {
    margin-left: 430px;
    margin-right: -35px;
    margin-top: -315px;
    margin-bottom: 200px;
    width: 100%;
}

.nav-tabs .nav-link {
    color: #6852a5;
    border: none;
    border-bottom: 3px solid transparent;
    transition: border-color 0.5s ease;
}

.nav-tabs .nav-link.active {
    color: #4f3b86;
    background-color: #7866c64c;
    border-bottom: 3px solid #6852a5;
}

.saibaMais {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #6852a5;
    background-color: transparent;
    border: 1.7px solid #6852a5;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    align-items: center;
    margin-bottom: -50px;
    margin-left: 25%;
    text-decoration: none;
}

.saibaMais:hover {
    box-shadow: 0px 15px 20px #6852a547;
    transform: translateY(-2px);
}

.saibaMais:active {
    transform: translateY(-1px);
}

/* drop busca */
.dropFilter {
    width: 20%;
    box-shadow: 0 0 0 0;
    height: 65px;
    border: 0 none;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #af6faf !important;
    color: white;
}

.dropFilter option {
    background-color: #ffffff; 
    color: #000000; 
   border-radius: 10px;
}

.dropFilter option:checked {
    background-color: #e0e0e0; 
    color: #000000;
}

.dropFilter,
.profissoesSelect {
    background-color: white;
    width: 20%;
    height: 65px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 16px;
    padding: 0 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.buscaPor {
    height: 65px;
    width: 30%;
    margin-right: 800px;
    margin-right: 2%;
    padding: 0 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.buscaPor:focus {
    outline: none;
    box-shadow: 0 0 0 2px #af6faf;
}

.buscaPor::placeholder {
    color: #888;
}

/* Botão de pesquisa */
.searchA {
    height: 65px;
    border-radius: 20px;
    background-color: #af6faf;
    color: white;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    padding: 20px;
    cursor: pointer;
    width: 200px;
    text-align: center;
}

.searchA:hover {
    background-color: #df95df;
}

/*calendario*/
.available-times {
    margin-top: 20px;
}

.times-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.time-button {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    cursor: pointer;
}

.time-button.selected {
    background-color: #7766C6;
    color: white;
    border-color: #6c56cd;
}

.time-button:hover {
    background-color: #a79be0;
}


.calendar-container {
    flex-direction: column;
}

.calendar-grid {
    flex-direction: column;
}

.calendar-day-headers {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
}

.calendar-day-header {
    text-align: center;
    padding: 5px;
    background-color: #7654d349   !important;
    font-weight: 600;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
}

.calendar-day {
    text-align: center;
    padding: 10px;
    background-color: #fffbfa;
    cursor: pointer;
    border: 1px solid #281010;
    box-sizing: border-box;
}

.calendar-day.selected {
    background-color: #ded7e5;
    border: 1px solid #28101042;
}


.setaCalendario {
    background-color: transparent;
    color: #7766C6;
    border: none;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #0056b3;
}

.semhora {
    margin-bottom: 10px;
    cursor: unset !important;
    width: 80%;
    padding: 12px;
    align-items: center;
    background: #fffbfa;
    border-radius: 8px;
    margin-left: 30px;
    border: 0;
    box-shadow: 0px 0px 5px -3px #6852a5;
}

.semConsulta{
    margin-right: 15px;
    margin-bottom: 3px;
}

.agendarBot {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #6852a5;
    background-color: transparent;
    border: 1.7px solid #6852a5;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-left: 8%;
    text-decoration: none;
    position: absolute;
}

.agendarBot:hover {
    box-shadow: 0px 15px 20px #6852a55f;
    transform: translateY(-7px);
}

.agendarBot:active {
    transform: translateY(-1px);
}

@media (max-width: 601px) {
    .imgPerfil {
        width: 120px;
        height: 120px;
        top: -30px;
        left: -20px;
    }

    .primeiro,
    .segundo {
        padding: 10px;
        margin-right: 0;
    }

    .sessao,
    .valor {
        width: 100%;
        margin-left: 0;
    }

    .cardAgenda {
        flex-direction: column;
        margin-bottom: 30px;
        height: 680px;
    }

    .tabs-container {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
    }

    .cardAgenda::before {
        display: none;
    }

}

@media (max-width: 600px) {
    .imgPerfil {
        width: 100px;
        height: 100px;
    }

    .nomeAgenda {
        font-size: 22px;
    }

    .primeiro {
        padding-right: 0;
    }

    .segundo {
        padding-left: 0;
        margin-left: 12px;
        width: 100%;
    }

    .star {
        width: 20px;
        height: 20px;
    }

    .cardAgenda::before {
        display: none;
    }

    .tabs-container {
        margin-left: -370px;
        margin-top: 300px;
    }

    .busca {
        margin-right: px;
        width: 300px;
    }

    .dropFilter {
        width: 100px;
    }

}




.spinner-border {
    width: 1.5rem;
    height: 1.5rem;
    border-width: .2em;
}


.setaSelecionar {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #902743 !important;

}