@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wdth,wght@87.5,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --white: #fff;
    --title: #493548;
    --back-card: #E0DFFD;
    --name: #6852a5;
    --profi: #8369ca;
    --dark: #000;
    --sessao-valor: #aeace7;
    --tab: #847284;
    --back-tab: #8a77df63;
    --input: #888;
    --time: #7766C6;
    --border: #6c56cd;
    --search: #6852a5;

}

[data-theme='dark'] {
    --white: #e8def8;
    --title: #fff;
    --back-card: #6852a5;
    --name: #ffffff;
    --profi: #ffffff;
    --dark: #fff;
    --sessao-valor: #fffbfa;
    --tab: #b9aeb9;
    --back-tab: #a090e863;
    --input: #888;
    --time: #7766C6;
    --border: #6c56cd;
    --search: #5e40b0;

}

.fundoFiltro {
    background-color: var(--white);
    padding-top: 20px;
    padding: 30px 20px 10px;
    margin-top: 0px;
}

.containerfiltro {
    justify-content: center;
}

.tituloAgenda {
    color: var(--title);
    text-align: center;
    margin-bottom: 20px;
}

[data-theme='dark'] .tituloAgenda {
    color: #fff;
}

.rowCardAgenda {
    background-color: var(--back-card);
    margin: 0 30px 50px;
    border-radius: 8px;
}

.colCardAgenda {
    /* background-color: #5e40b0; */
    padding: 3% 0 5% 10%;
}

.imgPerfil {
    width: 140px;
    height: 160px;
    border-radius: 6%;
    object-fit: cover;
    padding: 10px;
    position: absolute;
    /* top: -30px; */
    /* left: -70px; */
    transform: translateX(-40%) translateY(-20%);
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.primeiro {
    padding: 10px;
    flex: 1;
    margin-left: 60px;
    min-width: 0;
}

.segundo {
    padding: 10px;
    flex: 1;
    margin-right: 450px;
    margin-left: 40px;
    min-width: 0;
}

.nomeAgenda {
    color: var(--name);
    font-size: 24px;
    margin-left: 0;
}

[data-theme='dark'] .nomeAgenda {
    color: #fff;
}

.profissao {
    color: var(--profi);
}

.local {
    margin-top: -19px;
    color: #6852a5;
}

[data-theme='dark'] .local {
    color: #fff;
}

.valor {
    width: 320px;
    margin-right: 40px;
}

.sessao {
    width: 300px;
    margin-right: 15px;
}


[data-theme='dark'] .sessao {
    background-color: #c6b4f6;
}

.sessao,
.valor {
    padding: 1em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: black;
    background: var(--sessao-valor);
    border: 1.7px solid #252525;
    border-radius: 25px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: block;
    text-align: center;
}

.estrelas {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.star {
    width: 24px;
    height: 24px;
    background: #6852a5;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
}

[data-theme='dark'] .star {
    background-color: #fff;
}

.semResultado {
    font-size: 22px;
}

/* Tabs */
.nav-tabs {
    --bs-nav-tabs-border-width: transparent;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
    width: 108%;
}

/* .tabs-container {
    margin-left: 432px;
    margin-top: -310px;
    margin-bottom: 350px;
    width: 53%;
} */

.nav-tabs .nav-link {
    color: var(--tab);
    border: none;
    border-bottom: 3px solid transparent;
    transition: border-color 0.5s ease;
}

[data-theme='dark'] .nav-tabs .nav-link {
    color: #fff;
}

.nav-tabs .nav-link:hover {
    background-color: #7866c619;
    border-bottom: 3px solid #6852a534 !important;
    margin: 0;
}

.nav-tabs .nav-link.active {
    color: var(--dark);
    background: var(--back-tab);
    border-bottom: 3px solid var(--profi);

}

.saibaMais {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: var(--dark);
    background-color: transparent;
    border: 1.7px solid #6852a5;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    align-items: center;
    margin-bottom: -50px;
    margin-left: 25%;
    text-decoration: none;
}

.saibaMais:hover {
    box-shadow: 0px 15px 20px #6852a547;
    transform: translateY(-2px);
}

.saibaMais:active {
    transform: translateY(-1px);
}

[data-theme='dark'] .saibaMais {
    color: #fff;
    border: 1.7px solid #ffffff;
}

/* drop busca */
.dropFilter {
    width: 20%;
    box-shadow: 0 0 0 0;
    height: 65px;
    border: 0 none;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background: var(--search) !important;
    color: #fff;
}

[data-theme='dark'] .dropFilter {
    background: #c6b4f6 !important;
    color: #200d28;
}


.dropFilter option {
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
}

.dropFilter option:checked {
    background-color: #e0e0e0;
    color: white;
}

.dropFilter,
.profissoesSelect {
    background-color: white;
    width: 20%;
    height: 65px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 16px;
    padding: 0 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.buscaPor {
    height: 65px;
    width: 30%;
    margin-right: 2%;
    padding: 0 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 20px 20px 0;
}

.buscaPor:focus {
    outline: none;
    box-shadow: 0 0 0 2px #604c9c;
}

.buscaPor::placeholder {
    color: var(--input);
}

/* Botão de pesquisa */
.searchA {
    height: 65px;
    border-radius: 20px;
    background: var(--search);
    color: white;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    padding: 20px;
    cursor: pointer;
    width: 110px;
    text-align: center;
}

.searchA:hover {
    background-color: #8a74c1;
}

[data-theme='dark'] .searchA {
    background-color: #c6b4f6 !important;
    color: #200d28;
}

/*calendario*/
.available-times {
    margin-top: 20px;
}

.times-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.time-button {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    cursor: pointer;
}

.time-button.selected {
    background: var(--time);
    color: var(--white);
    border-color: var(--border);
}

.time-button:hover {
    background-color: #a79be0;
}


.calendar-container {
    flex-direction: column;
}

.calendar-grid {
    flex-direction: column;
}

.calendar-day-headers {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
}

.calendar-day-header {
    text-align: center;
    padding: 5px;
    background-color: #aeace7;
    border: 1px solid #8369ca;
    font-weight: bold;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
}

.calendar-day {
    text-align: center;
    padding: 10px;
    background-color: #fffbfa;
    cursor: pointer;
    border: 1px solid #281010;
    box-sizing: border-box;
}

[data-theme='dark'] .calendar-day {
    color: #000 !important;
}

.calendar-day.selected {
    background-color: #9b81e3;
    color: white;
    border: 1px solid #6852a5;

}

.setaCalendario {
    background-color: transparent;
    color: var(--name);
    border: none;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
}

.semConsulta {
    margin-right: 15px;
    margin-bottom: 3px;
}

.saibaMaisBot {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: var(--dark);
    background-color: transparent;
    border: 1.7px solid var(--dark);
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-left: 25%;
    text-decoration: none;
}



.agendarBot {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: var(--dark);
    background-color: transparent;
    border: 1.7px solid var(--dark);
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: center !important;
    text-decoration: none;
    /*
    position: absolute;   ativar depois
    */
}

/* colocar no card depois */
.agendarBot:hover {
    box-shadow: 0px 15px 20px #a89cdca0;
    transform: translateY(-7px);
}

.agendarBot:active {
    transform: translateY(-1px);
}

[data-theme='dark'] .agendarBot {
    color: #fff;
    border: 1.7px solid #ffffff;
}

[data-theme='dark'] .agendarBot:hover {
    box-shadow: 0px 15px 20px #3f3568d3;
}


.especialidade {
    background-color: #f7f7f7;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: #e9e7e7 solid 2px;
}

.especialidades {
    display: flex;
    flex-wrap: wrap;
}

.especialidades,
.especialidade {
    flex-basis: 30%;
    margin: 7px;
}

[data-theme='dark'] .especialidade {
    background-color: #c6b4f6;
    color: #000;
    border: #a48edf solid 2px;
}

.editarTabs {
    background-color: transparent;
    border: none;
    margin-bottom: 20px;
    margin-left: -2px;
}

.pencilEditar {
    color: #6c56cd;
}

.pencilEditar:hover {
    color: #a89cdc;
}

.salvarEdicoes {
    background-color: #604c9c;
    border: 2px #604c9c;
    border-radius: 20px;
    color: white;
}

@media (max-width: 601px) {

    .primeiro,
    .segundo {
        padding: 10px;
        margin-right: 0;
    }

    .sessao,
    .valor {
        width: 100%;
        margin-left: 0;
    }

    .cardAgenda {
        flex-direction: column;
        margin-bottom: 30px;
        height: 680px;
    }

}

@media (max-width: 600px) {

    .nomeAgenda {
        font-size: 22px;
    }

    .primeiro {
        padding-right: 0;
    }

    .segundo {
        padding-left: 0;
        margin-left: 12px;
        width: 100%;
    }

    .star {
        width: 20px;
        height: 20px;
    }

    .cardAgenda::before {
        display: none;
    }

    .busca {
        margin-right: px;
        width: 300px;
    }

    .dropFilter {
        width: 100px;
    }

}

@media (min-width:768px) {
    .colCardAgenda {
        border-right: var(--name) 2px solid;
    }
}

@media (min-width: 680px) and (max-width:1130px) {
    * {
        max-width: 100% !important;
    }

    .imgPerfil {
        top: -40px;
        left: -50px;
    }

    /* .tabs-container {
        margin-left: 332px;
        padding-left: 45px;
        width: 60%;
        padding-top: 20px;
    } */

    .nomeAgenda {
        font-size: 22px;
        margin-left: -10px;
    }

    .cardAgenda {
        margin-bottom: 100px;
        padding: 0 20px 20px 20px;
        height: 400px;
    }

    .primeiro {
        padding: 20px 0 10px 30px;
    }
    .chat-box {
        max-width: 500px !important;
    }
    }

.spinner-border {
    width: 1.5rem;
    height: 1.5rem;
    border-width: .2em;
}

.textareaSobreMim{
    width: 100% ;
    height: 200px !important;
}