@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wdth,wght@87.5,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {background-color: #fffcfb;

  font-family: "Montserrat", serif !important;
  font-optical-sizing: auto;
  font-weight: 420; 
  font-style: normal;
}
.centralizar {
    display: block;
    text-align: -webkit-center;
}

.fundoInfo {
    background-color: #ffdea1;
    padding: 20px 0px;
    overflow: hidden;
}
.textoInfo {
    background-color: #ffe7ba;
    padding: 1.6rem !important;
    border-radius: 5px 50px;
    color: #613b0d;
    font-size: 17px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.fotoInfo {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit:scale-down;
    filter: contrast(1.1);
}

.fundoForms {
  padding: 20px 0px;
  overflow: hidden;
}
.blocoForms{
  padding: 1.6rem !important;
  border-radius: 15px;
  color: #71357e;
  font-size: 17px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

/* quadriculado */
  padding: 20px 0px;
  background-color: #fffbfa;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;

}

.textoCalc{
    padding: 1.6rem !important;
    border-radius: 15px;
    color: #71357e;
    font-size: 17px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

/* quadriculado */
    --color: #ecd5f1e0;
    padding: 20px 0px;
    background-color: #faf4f2;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;

}
.textoCalc h1 {
  font-size: 25px;
}
.textRoxo {
  font-size: 34px;
  color: #71357e;
}


.fundoColorido {
  background: rgb(244,231,204);
  background: linear-gradient(180deg, rgba(244,231,204,1) 0%, rgba(249,188,206,1) 100%);
}



.botaoBanner {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500 !important;
    color: #000;
    background-color: transparent;
    border: 1.7px solid #252525;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  .botaoBanner:hover {
    box-shadow: 0px 15px 20px #e5cc9d;
    transform: translateY(-7px);
  }
  .botaoBanner:active {
    transform: translateY(-1px);
  }
      .botaoBranco:hover {
        box-shadow: 0px 15px 20px #cbc7cd;
      }


  .inputgeral {
    width: 100%;
    height: 40px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
  }
  .inputgeral:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }
  .inputgeral:active {
    transform: scale(0.96);
  }
  .inputgeral:focus {
    border: 2px solid grey;
  }
  

  .inputgeral.cadEmp {
    margin: 5px 0px 10px 0px;
  } 

  .labelForms {
    font-weight: 650;
  }



  .titCalc {
    font-size: 30px;
    font-weight: 650;
  }
 
  .radio-button {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    cursor: pointer;
  }
  .radio-button input[type="radio"] {
    display: none;
  }
  
  .circulo-radio {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 2px solid #683972;
    position: relative;
    margin-right: 10px;
  }
  
  .circulo-radio::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #8d519a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.2s ease-in-out;
  }
  .radio-button input[type="radio"]:checked + .circulo-radio::before {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .radio-button:hover .circulo-radio {
    border-color: #683972;
  }
  .radio-button:hover input[type="radio"]:checked + .circulo-radio::before {
    background-color: #683972;
  }



  .input-erro {
    border: 2px solid red;
  }
  
  .mensagem-erro {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }
  



  .result-text {
    font-size: 20px !important;
  }