body {
    font-family: "Montserrat", serif !important;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
}

.titleporque {
    margin-top: -30px !important;
    margin-bottom: 40px !important;
    color: #6852a5;
}

[data-theme='dark'] .titleporque {
    margin-top: -30px !important;
    margin-bottom: 40px !important;
    color: #ffffff;
}

.centralizar {
    display: block;
    text-align: -webkit-center;
}

.fundoFormsPsi {
    margin-top: 4% !important;
    margin-bottom: 10% !important;
    padding: 20px 0px;
    overflow: hidden;
    margin-left: 60px !important;
}


.blocoFormsPsi {
    margin-top: 8% !important;
    padding: 1.6rem !important;
    border-radius: 15px;
    background-color: #eee8f4;
    border: 2px solid #fab0c3;
    color: #6852a5;
    font-size: 17px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-bottom: 6% !important;
}

[data-theme='dark'] .blocoFormsPsi {
    border: 2px #ab8fc4 solid;
    background-color: #7543abc1 !important;
    color: #fff !important;
}

.inputform {
    width: 100%;
    height: 40px;
    border-radius: 12px;
    background-color: #fffbfa;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

.inputform:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

.inputform:active {
    transform: scale(0.96);
}

.inputform:focus {
    border: 2px solid grey;
}


.inputform.cadPsi {
    margin: 5px 0px 10px 0px;
}

.labelForms {
    font-weight: 650;
}

.blococadastropsi {
    margin-top: 6% !important;
}


.cardcadastropsi {
    text-align: center !important;
    padding: 18px 18px 2px 18px !important;
    flex: auto !important;
    width: auto !important;
    margin: 4% !important;
    padding: 1em 3em;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease 0s;
    cursor: pointer;
    outline: none;
    height: auto !important;
}

[data-theme='dark'] .cardcadastropsi {
    background-color: #2b2b38;
    color: #ffffff;
    box-shadow: 6px 8px 16px #8f5ec8 !important;
}

.questioncadastro {
    font-size: 15px !important;
}

.textocardcadastropsi {
    margin-top: 30px !important;
    font-size: 12px !important;
    font-weight: 400 !important;
}

.conteinerporque {
    margin-left: 14% !important;
    margin-right: 14% !important;
}

.imgporque {
    margin-top: 10% !important;
    margin-left: -190px !important;
}

.cardporque {
    text-align: left !important;
    padding: 20px !important;
    width: 220px !important;
    height: 200px !important;
    margin: 18% !important;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: #7866c663 !important;
    border-radius: 20px;
    border: 2px solid #46467a;
    transition: all 0.4s ease 0s;
    cursor: pointer;
    outline: none;
}

[data-theme='dark'] .cardporque {
    color: #fff !important;
    background-color: #5a36939f !important;
    border: 4px solid #61008b;
}

.cardporque:hover {
    box-shadow: 0px 8px 10px #46467a8f;
    transform: translateY(-10px);
}

.cardporque:active {
    transform: translateY(-4px);
}

.txtporque {
    font-size: 18px;
    margin-left: 24px !important;
    color: #6852a5;
    margin-top: 1em !important;
}

[data-theme='dark'] .txtporque {
    margin-left: 24px !important;
    color: #ffffff;
}

.cssbuttons-io-button {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.6em 0.9em;
    color: white;
    background: #ef7291d0;
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em rgb(184, 146, 255);
    letter-spacing: 0.05em;
    border-radius: 1.5em !important;
}

.cssbuttons-io-button svg {
    margin-right: 8px;
}

.cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em rgb(149, 91, 255);
}

.cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em rgb(160, 109, 255);
}

[data-theme='dark'] .text-muted {
    --bs-text-opacity: 1;
    color: #fff !important;
}


@media (max-width: 576px) {
    .imgpsi {
        width: 100% !important;
        height: 100% !important;
    }

    .blococadastropsi {
        margin: auto !important;
    }

    .fundoFormsPsi {
        flex-wrap: wrap !important;
        margin: 5% !important;
        padding: 10px 0px;
    }

    .imgporque {
        width: 100% !important;
        height: 100% !important;
        margin: 0px !important;
    }

    .conteinerporque {
        flex-wrap: wrap !important;
    }

    .cardporque {
        width: 100% !important;
        height: auto !important;
        margin-left: 1% !important;
        margin-bottom: 2% !important;
        font-size: 8px;
    }

    .botaoCadastro {
        padding: 0.8em 1em;
        font-size: 7px;
    }

    .blocoFormsPsi {
        font-size: 12px;
    }
}

@media (min-width: 600px) and (max-width: 1180px) {
    .imgpsi {
        width: 90% !important;
        height: auto !important;
        margin: 0 auto !important;
    }

    .blococadastropsi {
        padding: 20px !important;
    }

    .fundoFormsPsi {
        flex-wrap: wrap !important;
        margin: 5% 10% !important;
        padding: 20px 0px !important;
    }

    .imgporque {
        width: 90% !important;
        height: auto !important;
        margin: 0 auto !important;
    }

    .conteinerporque {
        flex-wrap: wrap !important;
        margin: 0 5% !important;
        display: flex;
        justify-content: space-around;
    }

    .cardporque {
        width: 120% !important;
        height: 200px !important;
        margin-left: -10% !important;
        margin-bottom: 3% !important;
        font-size: 14px !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px !important;
    }

    .botaoCadastro {
        padding: 1em 1.5em !important;
        font-size: 14px !important;
    }


    .questioncadastro {
        width: 100% !important;
        font-size: 1.5em;
        margin: 2px !important;
        padding-bottom: 10px !important;
    }


    .cardcadastropsi {
        width: 500px !important;
        height: auto !important;
        font-size: 1.3em !important;
    }
}

@media (width: 1024px) {

    .imgpsi {
        width: 100% !important;
    }

    .imgporque {
        width: 100% !important;
    }

    .conteinerporque {
        flex-wrap: wrap !important;
        display: flex !important;
        margin-right: 89px !important;
        margin-left: 6% !important;
    }

    .cardporque {
        width: 100% !important;
        height: 330px !important;
        font-size: 1.2em !important;
    }

    .botaoCadastro {
        padding: 1em 1.5em !important;
        font-size: 14px !important;
    }

    .questioncadastro {
        width: 100% !important;
        font-size: 1.8em;
        margin: 2% !important;
        padding-bottom: 20px !important;
    }

    .cardcadastropsi {
        width: 700px !important;
        height: auto !important;
        font-size: 1.6em !important;
    }

    .titleporque {
        font-size: 3em !important;
    }

    .centralizar {
        display: block;
        text-align: -webkit-center;
    }

    .txtporque {
        font-size: 1.5em !important;
    }

    .cardporque h6 {
        font-size: 1.5rem;
    }

    .txtporque {
        font-size: 1.5em !important;
    }

    .cardporque {
        width: 100% !important;
        height: 280px !important;
        font-size: 1em !important;
    }

    .conteinerporque {
        display: flex !important;
    }

    .imgporque {
        width: 0 !important;
        height: 0 !important;
        margin: 0px !important;
    }
}

@media (width: 1280px) {
    .cardporque {
        height: 280px !important;
        font-size: 1em !important;
    }

    .txtporque {
        font-size: 1.5em !important;
        text-align: center;

    }

}


@media (width: 540px) {

    .cardporque {
        width: 80% !important;
        height: 300px !important;
        font-size: 1em !important;
    }

    .questioncadastro {
        width: 100% !important;
        font-size: 1.4em;
        margin: 2% !important;
        padding-bottom: 20px !important;
    }

    .cardcadastropsi {
        width: 440px !important;
        height: auto !important;
        font-size: 1.2em !important;
    }

    .blococadastropsi {
        margin: 0 !important;
    }

    .titleporque {
        font-size: 2em !important;
    }

    .centralizar {
        display: block;
        text-align: -webkit-center;
    }

    .txtporque {
        font-size: 2em !important;
    }

    .cardporque h6 {
        font-size: 0.8rem;
    }

    .cardporque {
        width: 90% !important;
        height: 120px !important;
        font-size: 0.8em !important;
        margin: 14px !important;
    }
}

@media (width: 912px) {

    .imgpsi {
        width: 100% !important;
    }

    .imgporque {
        width: 100% !important;
    }

    .conteinerporque {
        flex-wrap: wrap !important;
        display: flex !important;
    }

    .cardporque {
        width: 120% !important;
        height: 300px !important;
        font-size: 1em !important;
    }

    .botaoCadastro {
        padding: 1em 1.5em !important;
        font-size: 14px !important;
    }

    .questioncadastro {
        width: 100% !important;
        font-size: 1.8em;
        margin: 2% !important;
        padding-bottom: 20px !important;
    }

    .cardcadastropsi {
        width: 500px !important;
        height: auto !important;
        font-size: 1.6em !important;
    }

    .titleporque {
        font-size: 3em !important;
    }

    .centralizar {
        display: block;
        text-align: -webkit-center;
    }

    .txtporque {
        font-size: 1.5em !important;
    }

    .cardporque h6 {
        font-size: 1.5rem;
    }
}