.avisoSemData {
    background-color: #e0d3f5;
    padding: 20px 15px;
    margin: 30px 0;
    border-radius: 10px;
    color: #6852a5;
    border: 1px solid #6852a546;
}

.textroxo {
    color: #6852a5;
}

.material-symbols-outlined.iconsDisp {
    vertical-align: top;
    margin-right: 3px;
    font-size: 23px;
    font-variation-settings:
        'FILL' 0,
        'wght' 350,
        'GRAD' 0,
        'opsz' 24
}

.btnAtualizar {
    background-color: #6852a5 !important;
    border: 1px solid #564091;
}

.btnAtualizar:hover {
    background-color: #564091 !important;
}

.btnAtualizar:focus .material-symbols-outlined.iconsDisp {
    animation: girar 1s ease-in-out;
}

.dias-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}

.time-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

.day-checkbox {
    margin-bottom: 25px;
}



.updated-working-day {
    background-color: lightgreen;
}


.inputSemana[type="checkbox"]:checked+.custom-checkbox::after {
    opacity: 1;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.updated-day {
    background-color: green;
    color: white;
}




/* CHECKMARK*/
.cl-checkbox {
    position: relative;
}

.cl-checkbox>input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: pink;
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

.cl-checkbox>span {
    display: flex;
    width: 100%;
    cursor: pointer;

}

.cl-checkbox>span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px;
    border-radius: 100% !important;

    border-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
}

.cl-checkbox>span::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 1px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.cl-checkbox>input:checked,
.cl-checkbox>input:indeterminate {
    background-color: purple;
}

.cl-checkbox>input:checked+span::before,
.cl-checkbox>input:indeterminate+span::before {
    border-color: pink;
    background-color: pink;
}

.cl-checkbox>input:checked+span::after,
.cl-checkbox>input:indeterminate+span::after {
    border-color: #fff;
}

.cl-checkbox>input:indeterminate+span::after {
    border-left: none;
    transform: translate(4px, 3px);
}

/* Hover, Focus */
.cl-checkbox:hover>input {
    opacity: 0.04;
}

.cl-checkbox>input:focus {
    opacity: 0.12;
}

.cl-checkbox:hover>input:focus {
    opacity: 0.16;
}

/* Active */
.cl-checkbox>input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.cl-checkbox>input:active+span::before {
    border-color: #85b8b7;
}

.cl-checkbox>input:checked:active+span::before {
    border-color: transparent;
    background-color: pink;
}

/* Disabled */
.cl-checkbox>input:disabled {
    opacity: 0;
}

.cl-checkbox>input:disabled+span {
    color: rgba(0, 0, 0, 0.38);
    cursor: initial;
}

.cl-checkbox>input:disabled+span::before {
    border-color: currentColor;
}

.cl-checkbox>input:checked:disabled+span::before,
.cl-checkbox>input:indeterminate:disabled+span::before {
    border-color: transparent;
    background-color: currentColor;
}


/* dark mode */
[data-theme='dark'] .dias-container {
    background-color: #7e64a8 !important;
}

[data-theme='dark'] .evento-card {
    background-color: #866bb3;
    color: #ffff;
}
[data-theme='dark'] .evento-title {
    color: #ffffff;
}
[data-theme='dark'] .datepicker {
    background-color: #9379bd;
    color: #ffff;
}
[data-theme='dark'] .day {
    color: #ffff;
}
[data-theme='dark'] .textroxo {
    color: #f1defd;
}
[data-theme='dark'] .date {
    color: #ffff;
}
[data-theme='dark'] .month-name {
    color: #ffff;
}
[data-theme='dark'] .arrow {
    color: rgb(255, 225, 255);
    background-color: transparent;
}
[data-theme='dark'] .cl-checkbox>span::before {
    border: solid 1px rgb(255, 255, 255);
}
[data-theme='dark'] .cl-checkbox>input:checked+span::before .btnAtualizar  {
    background-color: rgb(189, 142, 158);
}
[data-theme='dark']  .btnAtualizar  {
    background-color: rgba(170, 137, 226, 0.678) !important;
}

/* CardStyle.css */
.evento-card {
    margin: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #ddd;
    width: 100%;
}

.evento-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1rem;
}

.event0-details {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.5rem;
}

@media (min-width: 700px) and (max-width: 900px) {
    .disponibilidade .datepicker {
        padding: 0 !important;
        width: calc(100% + 20px);
        height: 350px;
    }
    .datepicker-calendar {
        width: 20% !important;
    }
    .avisoSemData.dispon {
        position: relative;
        left: 20px;
        width: calc(100% - 20px);
    }
}

@media (min-width: 400px) and (max-width: 699px) {
    .disponibilidade .datepicker {
        padding: 15px;
    }
}