.avisoSemData {
    background-color: #e0d3f5;
    padding: 20px 15px;
    margin: 30px 0;
    border-radius: 10px;
    color: #6852a5;
    border: 1px solid #6852a546;
}

.textroxo {
    color: #6852a5;
}