.avisoSemData {
    background-color: #e0d3f5;
    padding: 20px 15px;
    margin: 30px 0;
    border-radius: 10px;
    color: #6852a5;
    border: 1px solid #6852a546;
}

.textroxo {
    color: #6852a5;
}

.material-symbols-outlined.iconsDisp {
    vertical-align: top;
    margin-right: 3px;
    font-size: 23px;
  font-variation-settings:
  'FILL' 0,
  'wght' 350,
  'GRAD' 0,
  'opsz' 24
}

.btnAtualizar {
    background-color: #6852a5 !important;
    border: 1px solid #564091;
}
.btnAtualizar:hover {
    background-color: #564091 !important;
}

.btnAtualizar:focus .material-symbols-outlined.iconsDisp {
    animation: girar 1s ease-in-out;
}

@keyframes girar {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}