.bloco-aviso {
    background-color: #ffd5d5;
    padding: 20px 15px;
    margin: 30px;
    border-radius: 10px;
    color: #b13737;
    border: 1px solid #6852a546; 
    display: flex;
}

.iconWarning {
    margin: 0 15px;
    width: 100px !important;
}

.labelesqueci {
    color: #6852a5;
}
  
  @media (max-width: 600px) {
    .iconWarning {
        margin-left: 0px;
      width: 300px !important; 
    }
  }
  