@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wdth,wght@87.5,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-color: #f7f8fc !important;
    font-family: "Montserrat", serif !important;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
}


.d-flex {
    display: flex !important;

}

.scroll-section {
    opacity: 0;
    transform: translateY(50px);
    /* Inicialmente deslocado para baixo */
    transition: opacity 0.6s ease, transform 3s ease;
    /* Transições suaves */
}

.scroll-section.visible {
    opacity: 1;
    transform: translateY(0);
}

.cardBannerMaior {
    position: absolute !important;
    width: 280px !important;
    border-radius: 140px 140px 10px 10px !important;
    height: 440px !important;
    top: 4% !important;
    left: 64% !important;
    border-color: #7866c6d2 !important;
    border-width: 4px !important;
    background-color: #7766C6 !important;
}

.cardProfsMenor {
    left: 114% !important;
    bottom: 94% !important;
    border-radius: 100% !important;
    height: 180px !important;
    width: 180px !important;
    border-color: #46467a !important;
    border-width: 4px !important;
    background-color: #46467a !important;
}

.imagem1 {
    border-radius: 140% !important;
    margin-top: 20% !important;
    margin-left: 2px !important;
}

.imagem2 {
    border-top-left-radius: 20% !important;
    border-top-right-radius: 20% !important;
    margin-top: 46% !important;
    margin-left: 2px !important;
}

.txtSobre {
    position: relative !important;
    top: 4% !important;
    bottom: 20% !important;
    left: 6% !important;
    width: 600px !important;
    text-align: left !important;
    padding: 1.3em 3em;
    font-size: 16px;
    letter-spacing: 2px;
}

.botaoSobre {
    position: relative !important;
    z-index: 99 !important;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #ffd34e63;
    border: 1.7px solid #f1c951;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.botaoSobre:hover {
    box-shadow: 0px 15px 20px #e5cc9d !important;
    transform: translateY(-7px) !important;
}

.botaoSobre:active {
    transform: translateY(-1px) !important;
}

.qualidadesMindU {
    text-align: center;
    /* Centraliza o texto dentro da div */
    margin: 0 auto;
    /* Centraliza a div no container pai */
    padding: 140px !important;
    /* Ajuste o padding conforme necessário */
    margin-top: -140px !important;
}

.cards {
    display: flex !important;
    justify-content: center !important;
    gap: 14px !important;

}

.cardQualidades {
    flex: auto !important;
    max-width: 300px !important;
    margin: 16px !important;
}

.text-center {
    padding: 1.3em 3em;
    font-size: 28px;
    letter-spacing: 3px;
}

.cardQualidades {
    flex: auto !important;
    max-width: 300px !important;
    margin: 16px !important;
    padding: 1em 3em;
    font-size: 10.5px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    background-color: #ffe1876a;
    border: 3px solid #fab0c3;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease 0s;
    cursor: pointer;
    outline: none;
    width: 250px !important;
    height: 300px !important;
}


.cardQualidades:hover {
    box-shadow: 0px 8px 10px #fab0c3;
    transform: translateY(-10px);
}

.cardQualidades:active {
    transform: translateY(-4px);
}

.calendarimg {
    margin-bottom: 10% !important;
}

.transformationimg {
    margin-bottom: 10% !important;
    width: 80px !important;
}

.diplomaimg {
    margin-bottom: 10% !important;
}

.titlecardQualidades {
    font-size: 16px !important;
}

.titlecardQualidadesBig {
    font-size: 14px !important;
}

.colab {
    margin-top: -60px !important;
}

.carousel-container {
    width: 100%;
    position: relative;
}


.slide {
    justify-content: center !important;
    background: transparent !important;
    border: 2px solid #7766C6 !important;
    border-width: 20% !important;
    border-radius: 10px;
    padding: 28px;
    text-align: center;
    opacity: 30%;
    /* Slides não centrais são um pouco opacos */
    transition: opacity 0.2s ease, transform 0.8s ease, box-shadow 0.2s ease;
    transform: scale(0.5);
    /* Reduz o tamanho dos slides não centrais */
    z-index: 0;
    /* Slides não centrais estão atrás */
    box-shadow: 0 4px 6px #7766C6;
    /* Adiciona uma sombra sutil */
    padding: 1em 3em;
    font-size: 12px;
    letter-spacing: 1px;
    height: 400px !important;
    width: 400px !important;
    margin-bottom: 10% !important;
}

.slick-center .slide {
    opacity: 1;
    /* Slide central é totalmente opaco */
    transform: scale(0.9);
    /* Slide central está no tamanho total */
    z-index: 1;
    /* Garante que o slide central fique acima dos outros */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    /* Adiciona uma sombra mais pronunciada */
}

.slick-slide {
    transition: transform 2s ease !important;
}

.slick-dots {
    bottom: -30px;
    left: 2%;

}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 40px !important;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-prev {
    left: 10px !important;

}

.slick-next {
    right: 20px !important;
}

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 50px !important;
    height: 50px !important;
    padding: 0;
    transform: translate(0, -40%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent !important;
}

.ratestar {
    font-size: 24px !important;
    color: #7766C6 !important;
}

.colabs {
    width: 140px !important;
    border-radius: 100% !important;
    display: block !important;
    margin: auto !important;
    top: 4% !important;
    bottom: 4% !important;
    position: relative !important;
}

.rate {
    top: 6% !important;
    position: relative !important;
}

.slide h3 {
    top: 8% !important;
    position: relative !important;
}

.accordion-button {
    letter-spacing: 2px !important;
}

.accordion-button:not(.collapsed) {
    font-size: 16px !important;
    color: #46467a !important;
    background-color: #7866c663 !important;
}

.accordion {
    --bs-border-radius: 16px !important;
    --bs-accordion-inner-border-radius: calc(var(16px) -(var(1px)));
    --bs-accordion-border-radius: 16px !important;
    --bs-accordion-bg: #7866c663;
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-focus-box-shadow: #46467a;
    position: relative !important;
    top: 20% !important;
    margin-bottom: 18% !important;
    font-size: 16px !important;
    letter-spacing: 2px !important;
}

.results-container {
    margin-top: 10% !important;
    margin-left: 48px !important;

}

.results {
    text-align: center !important;
    padding: 20px !important;
    flex: auto !important;
    width: 500px !important;
    margin: 16px !important;
    padding: 1em 3em;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    background-color: #ffe1876a;
    border: 3px solid #fab0c3;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease 0s;
    cursor: pointer;
    outline: none;
    height: 200px !important;
}


.results:hover {
    box-shadow: 0px 15px 20px #fab0c3;
    transform: translateY(-10px);
}

.results:active {
    transform: translateY(-4px);
}

.cardmaior {
    height: 400px !important;
    padding: 30px !important;
}

.cardmaior h1 {
    padding-top: 4% !important;
    font-size: 4rem;
    text-align: left !important;
}

.numeromenor {
    font-size: 3em !important;
    right: 4% !important;
    position: relative !important;
}

.cifrao {
    margin-top: 26% !important;
    font-size: 1.8em !important;
    left: 0.5% !important;
}

.textresults {
    text-align: left !important;
    font-size: 1.4em !important;
    padding-left: 6% !important;
    padding-top: 4% !important;
}

.invest {
    padding-left: 2% !important;
    padding-top: 2% !important;
}

.palavrachave {
    font-weight: bold !important;
}

.cardmenor {
    height: 192px !important;
    padding: 18px !important;
}

.titulocardmenor {
    bottom: 6px !important;
    position: relative !important;
    font-size: 28px !important;
    font-weight: bold !important;
    text-align: left !important;
}

.conteudocardmenor {
    padding-left: 10% !important;
}

.textcardmenor {
    text-align: left !important;
    font-size: 13px !important;
    list-style: none !important;
    bottom: 10px !important;
    position: relative !important;
}