.rowLogin {
    margin: 50px;
    background-color: #e8def8;
    border-radius: 20px;
    overflow: hidden;
}

[data-theme='dark'] .rowLogin {
    background-color: #492f6d;
}

.colEsqLogin {
    border-radius: 0 20px 20px 0;
    background: linear-gradient(#d4c8ef 50%, #cf9beb 50%);
    overflow: hidden;
    padding: 0;
}

[data-theme='dark'] .colEsqLogin {
    background: linear-gradient(#c388ec 50%, #965fc9 50%);
}

.loginVideo {
    filter: brightness(1.3) hue-rotate(75deg) contrast(0.9) saturate(0.9);
    width: 100%;
    height: 100%;
    display: block;
}

@media (max-width: 767px) {
    .colEsqLogin {
        height: 150px;
        border-radius: 0;
    }

    .loginVideo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

[data-theme='dark'] .loginVideo {
    filter: hue-rotate(80deg) brightness(0.85) saturate(0.7) contrast(1.6);
}


.colDirLogin {
    padding: 12% 0 5%;
    text-align: center;
    color: #492f6d;
}

[data-theme='dark'] .colDirLogin {
    color: rgb(242, 241, 245);
}


.formLogin {
    width: 50%;
    margin: 0 auto;
    display: grid;
}

.formLogin p {
    font-size: 13px;
}

.opcaoCadastroCard {
    width: 90px;
    height: 100%;
    background-color: #e3c9f9;
    border-radius: 10px;
    text-decoration: none;
    color: #1B253D;
    padding: 12px;
    text-align: center;
}

.opcaoCadastroCard img {
    width: 50px;
    opacity: 0.7;
}

.semContadiv {
    margin: 0 auto 10%;
    position: relative;
    bottom: -15%;
    width: 60%;
}

.esqueceuSenha {
    justify-self: end;
    display: flex;
    text-decoration: none;
    color: #1B253D;
    font-size: 13px;
    font-weight: 500;
}

[data-theme='dark'] .esqueceuSenha {
    color: #f1eff3;
}

.inputLogin {
    display: block;
    width: 100%;
    margin-bottom: 6px;
    text-align: center;
    padding: 3px 0;
    border-radius: 20px;
    border: 1px solid rgba(59, 12, 71, 0.475);
}

.inputLoginbtn {
    margin-top: 25px;
    background-color: transparent;
    letter-spacing: 2.5px;
    font-weight: 500 !important;
    color: #6852a5 !important;
    background-color: transparent;
    border: 1.7px solid #6852a5 !important;
}

[data-theme='dark'] .inputLoginbtn {
    color: #f1eff3 !important;
    border-color: #f1eff3 !important;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
}

@media (max-width: 768px) {

    .colDirLogin {
        padding: 12% 0 30%;
        text-align: center;
        color: #492f6d;
    }

    .semContadiv {
        margin: 0 auto 10%;
        position: relative;
        bottom: -15%;
        width: 90%;
    }
}