body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.formContainer {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e0dffd !important;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] .formContainer {
    background-color: #463787 !important;
}

.forminput {
    border-radius: 10px !important;
    color: #634ab2 !important;

}

[data-theme='dark'] .forminput {
    background-color: #7756bd !important;
    border-color: transparent !important;
    color: white !important;
    font-weight: 600 !important;
}

[data-theme='dark'] .formlabel {
    font-weight: 400 !important;
    color: white !important;
}

.titleformpag {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px !important
}

.payment-form {
    display: flex;
    flex-direction: column;

}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;

}

[data-theme='dark'] .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;

}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;

}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #dfe1e4;
    outline: none;
}

.payment-options {
    display: flex;
    gap: 10px;
}

.payment-option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.payment-option input {
    margin-right: 2px !important;
}

.payment-option:hover {
    background-color: #e0e0e0;
}

.payment-option.active {
    border-color: #0056b3;
    background-color: #e0f7ff;
}

.payment-details {
    margin-top: 20px;
}

.credit-card-container {
    justify-content: space-between;
    gap: 20px;
}

.credit-card-form {
    flex: 1;
}

.credit-card-preview {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pix-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.qr-code-container {
    text-align: center;
}

.pix-key {
    margin-top: 10px;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #f9f9f9;
    font-size: 14px;
    resize: none;
    cursor: text;
}

.pix-key input {
    background-color: transparent !important;
    border: none !important;
    padding: 1px !important;
}

.formbutton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background: #7766c6 !important;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formbutton:hover {
    background-color: #46467a !important;
}

.formselect {
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    background: #e0dffd !important;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formselect:hover {
    background: #7766c6 !important;
    padding: 8px 8px;
    transition: 0.3s;
}

.payment-option {
    display: flex !important;
    align-items: center !important;
    padding: 10px 68.5px !important;
    border: 1px solid #ddd;
    border-radius: 4px !important;
    cursor: pointer;
    background: #7866c6cc !important;
    transition: background-color 0.3s, border-color 0.3s;
    color: white !important;
    font-weight: 300 !important;
}



[data-theme='dark'] .payment-option {
    border-color: transparent !important;
    cursor: pointer;
    background: #7766c6 !important;
    transition: background-color 0.3s, border-color 0.3s;
    color: white !important;
    font-weight: 300 !important;
}

.payment-option.active {
    border-color: #e0f7ff !important;
    background-color: #46467a !important;
    color: #e0dffd !important;
}

[data-theme='dark'] .payment-option.active {
    border-color: transparent !important;
    background-color: #20206b !important;
    color: #e0dffd !important;
}


.payment-option input {
    margin-right: 0px;
}

.formradio {
    visibility: hidden !important;
    width: 0 !important;
}

.formlabel {
    font-weight: 600;
}

.installments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.installments-container .formlabel {
    font-weight: bold;
    margin-bottom: -20px;
}

.installments-container select {
    width: 100%;
    max-width: 250px;
    text-align: center;
}

@media (max-width: 768px) {

    .forminput,
    .formselect,
    .formradio {
        width: 100%;
        font-size: 14px;
    }

    .formbutton {
        width: 100%;
        font-size: 16px;
        margin-top: 10px;
    }

    .formlabel {
        font-size: 14px;
    }

    .installments-container {
        text-align: center;
    }
}

.pix-key input {
    width: calc(100% - 30px);
    font-size: 14px;
    padding: 5px;
}

.payment-options {
    margin-top: 15px;
}

.payment-option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f9fa;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.payment-option input {
    margin-right: 10px;
}

.payment-option.active {
    background-color: #7c52c6;
    color: white;
}

@media (max-width: 768px) {
    .payment-option {
        margin-bottom: 10px;
        width: 100%;
    }
}

.credit-card-form .form-group {
    margin-bottom: 1rem;
}

.credit-card-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.forminput {
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.formlabel {
    font-weight: bold;
}

.formbutton {
    width: 100%;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 4px;
    margin-top: 20px;
}

.installments-container {
    margin-top: 20px;
}

.pix-key {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
}

.payment-options {
    display: flex;
    gap: 10px;
}

.payment-option-container {
    flex: 1 1 calc(33.333% - 10px);
    box-sizing: border-box;
}

.payment-option {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}

.payment-option.active {
    background-color: #e0e0e0;
    border-color: #aaa;
}

.payment-option input {
    margin-right: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 50px !important;
}

.buttonboleto {
    background-color: #6852a5 !important;
    border: 1px solid #564091;
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    cursor: pointer;
}

.buttonboleto:hover {
    background-color: #564091 !important;
}

.rccs__card--unknown>div {
    background: linear-gradient(25deg, #d3bff2, #7866c6);
}

[data-theme='dark'] .rccs__card--unknown>div {
    background: linear-gradient(25deg, #ca5794, #7866c6);
}

.btnCreate {
    height: 40px;
    color: #46467a !important;
    background-color: #adade0 !important;
    border-radius: 10px 10px 10px 12px;
    border-style: solid solid solid none;
    border-width: 1.4px;
    border-color: #46467a89;
    padding: 0 15px;
    margin: 0;
}

[data-theme='dark'] .btnCreate {
    height: 40px;
    color: #ffffff !important;
    background-color: #6565ba !important;
    border-radius: 10px 10px 10px 12px;
    border-style: solid solid solid none;
    border-width: 1.4px;
    border-color: #46467a89;
    padding: 0 15px;
    margin: 0;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
    color: var(--bs-btn-disabled-color);
    pointer-events: none;
    opacity: var(--bs-btn-disabled-opacity);
}

@media (max-width: 991px) {
    .payment-option-container {
        flex: 1 1 calc(40% - 10px);
    }

    .payment-options {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .rccs__card--unknown>div {
        background: linear-gradient(25deg, #d3bff2, #7866c6);
        box-shadow: none;
        width: 80% !important;
        height: 80% !important;
        margin: 10% !important;
    }
}

@media (max-width: 767px) {
    .payment-option-container {
        flex: 1 1 100%;
    }

    .payment-options {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .rccs__card--unknown>div {
        background: linear-gradient(25deg, #d3bff2, #7866c6);
        box-shadow: none;
        width: 80% !important;
        height: 80% !important;
        margin: 10% !important;
    }

}