.perfil-container {
    position: relative;
    display: inline-block;
}

.cardPerfil {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

[data-theme='dark'] .cardPerfil {
    background-color: rgb(144, 143, 143);
}

.meuPerfil {
    width: 100%;
    border-radius: 100%;
    max-width: 150px;
    cursor: pointer;    
}

.perfil-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 100%; 
    cursor: pointer;
}

.perfil-container:hover .meuPerfil {
    opacity: 0.7; 
}

.perfil-container:hover .perfil-overlay {
    opacity: 1
}

.meuPerfil:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.upload{
    width: 150px;
    margin-top: 2px;
    margin-left: 7px;
    font-size: 13px;
    border: #d1ffe6;
}

.olho{
    background-color: transparent;
    color: rgb(219, 112, 129);
    border: none;
    padding: 10px;
    cursor: pointer;
}

/*Calendario*/
:root {
    --numDays: 5;
    --numHours: 10;
    --timeHeight: 60px;
    --calBgColor: #fff1f8;
    --eventBorderColor: #f2d3d8;
    --eventColor1: #ffd6d1;
    --eventColor2: #fafaa3;
    --eventColor3: #e2f8ff;
    --eventColor4: #d1ffe6;
}

.calendar {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
    margin: 2rem;
}

.timeline {
    display: grid;
    grid-template-rows: repeat(var(--numHours), var(--timeHeight));
}

.days {
    display: grid;
    grid-column: 2;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.events {
    display: grid;
    grid-template-rows: repeat(var(--numHours), var(--timeHeight));
    border-radius: 5px;
    background: var(--calBgColor);
}

/* Place on Timeline*/
.start-10 {
    grid-row-start: 2;
}

.start-12 {
    grid-row-start: 4;
}

.start-1 {
    grid-row-start: 5;
}

.start-2 {
    grid-row-start: 6;
}

.end-12 {
    grid-row-end: 4;
}

.end-1 {
    grid-row-end: 5;
}

.end-3 {
    grid-row-end: 7;
}

.end-4 {
    grid-row-end: 8;
}

.end-5 {
    grid-row-end: 9;
}

/* Event*/

.title {
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.event {
    border: 1px solid var(--eventBorderColor);
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0 0.5rem;
    background: white;
}

.space,
.date {
    height: 60px
}

/*// Global / Etc*/

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

/* CALENDARIO */
.calendarioPerfil  {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
    font-size: 20px;
}

.calendario-topo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.calendario-mes {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #F9B0C3;
}

.calendar-title {
    font-size: 18px;
    margin: 0 20px;
}

.calendar-dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    font-size: 17px;
}

.calendar-day,
.calendar-cell {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

.calendario-dia {
    font-weight: bold;
    background: #f0f0f0;
}

.calendar-cell {
    height: 70px;
    vertical-align: top;
}

/* EDITAR */
.editarBot{
    background-color: #F9B0C3;
    border: none;
}

.editarBot:hover{
    background-color: #efc0cd;
}

.salvarBot{
    background-color: #F9B0C3;
    border: none;
}

.salvarBot:hover{
    background-color: #e8b2c0;
    border: none;
}

.cancelarBot{
    background-color: #cdcbf5;
    border: none;
    margin-left: 3px;
}

.cancelarBot:hover{
    background-color: #dfddff;
    border: none;
    margin-left: 3px;
}

/*consulta na agenda*/
.has-consultation {
    background-color: #f0f0f0;
}

.dot {
    position: relative;
    width: 8px;
    height: 8px;
    background-color: #007bff;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot .consultation-details {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    display: none;
    z-index: 1000;
    width: 150px;
    text-align: left;
    font-size: 12px;
}

.dot:hover .consultation-details {
    display: block;
}