@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wdth,wght@87.5,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  font-family: "Montserrat", serif !important;
  font-optical-sizing: auto;
  font-weight: 420;
  font-style: normal;
}

.centralizar {
  display: block;
  text-align: -webkit-center;
}

.chat-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.chat-button {
  background-color: #f3819f;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

[data-theme='dark'] .chat-button {
  background-color: #9455cb;
}

.chat-icon {
  font-weight: bold;
}

.chat-box {
  position: absolute;
  bottom: 70px;
  right: 0;
  width: 280px;
  background-color: #fffbfa;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  overflow: hidden;
}

.chat-header {
  background-color: #f3819f;
  color: white;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

[data-theme='dark'] .chat-header {
  background-color: #6102a4;
  color: white;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.chat-body {
  position: relative;
  height: 400px;
  background-color: #fff;
}

.chat-body p {
  margin: 0;
  padding: 0;
}

.chat-box {
  background: #343453 !important;
  border: 1px solid #f3819f;
}

[data-theme='dark'] .chat-box {
  background: #343453 !important;
  border: 1px solid #5b00bd;
}

.chat-options {
  margin-top: 10px;
}


.chat-option {
  display: block;
  background-color: #e5dfec;
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin: 5px 0;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #f1f1f1;
}

.chat-option:hover {
  background-color: #d5cedb;
}

[data-theme='dark'] .chat-option {
  background-color: #4e4e7f;
  border: 1px solid #7866c689;
}

[data-theme='dark'] .chat-option:hover {
  background: #3e3e67 !important;
  border: 1px solid #7866c689;
}


.fotoBAPO {
  width: 60px;
  border-radius: 100%;
  margin-right: 10px;
}


.speech-bubble {
  margin-left: 15px !important;
  position: relative;
  background: #ddcef2;
  border-radius: .4em;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #ddcef2;
  border-left: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-left: -20px;
}

[data-theme='dark'] .speech-bubble {
  background: #f3819f !important;
  border: 1px solid #f3819f;
}

[data-theme='dark'] .speech-bubble:after {
  border-right-color: #f3819f;
}

.rowBAPO>* {
  width: 23%;
}


.chat-iframe {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 1px;
  overflow-x: hidden;
}

.chat-iframe iframe {
  border-radius: 10px;
  width: 100%;
  overflow-x: hidden;
}

.webchat--css-zhymf-1hkybn1 {
  font-family: Calibri, "Helvetica Neue", Arial, "sans-serif";
  margin: 0px;
  min-height: 20px;
  padding: 10px;
  color: #4d00a3;
}


.loading-wave {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.loading-bar {
  width: 20px;
  height: 10px;
  margin: 0 5px;
  background-color: #7766C6;
  border-radius: 5px;
  animation: loading-wave-animation .5s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
  animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
  0% {
    height: 10px;
  }

  50% {
    height: 50px;
  }

  100% {
    height: 10px;
  }
}